___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [184]:
from numpy.random import randn
np.random.seed(101)

In [59]:
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [60]:
df

          W         X         Y         Z
A  1.532311 -0.679531  2.340216  0.659400
B  1.504504 -0.858795  1.601531  0.766809
C -1.990224 -1.106930 -2.466707  1.150425
D -0.952415  0.606967 -2.662571  0.193114
E -0.469869  2.262486  0.310163 -0.574355

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [187]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [188]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [189]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame Columns are just Series

In [190]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [7]:
df['new'] = df['W'] + df['Y']

In [8]:
df

          W         X         Y         Z       new
A  1.546251  1.070069 -0.197420 -1.965812  1.348831
B -2.087840  0.838798 -1.360193 -0.938515 -3.448034
C  1.248025 -0.698435 -0.598607  0.767113  0.649418
D  1.516847 -0.447819  0.676152  0.217583  2.192999
E  0.510390  1.108694 -1.056952 -0.220323 -0.546562

** Removing Columns**

In [14]:
df.drop('A')

          W         X         Y         Z       new
B -2.087840  0.838798 -1.360193 -0.938515 -3.448034
C  1.248025 -0.698435 -0.598607  0.767113  0.649418
D  1.516847 -0.447819  0.676152  0.217583  2.192999
E  0.510390  1.108694 -1.056952 -0.220323 -0.546562

In [194]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [195]:
df.drop('new',axis=1,inplace=True)

In [196]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [197]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows**

In [198]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

Or select based off of position instead of label

In [199]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [200]:
df.loc['B','Y']

-0.84807698340363147

In [201]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [202]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [61]:
df['A']>0

KeyError: 'A'

In [62]:
df[df>0]

          W         X         Y         Z
A  1.532311       NaN  2.340216  0.659400
B  1.504504       NaN  1.601531  0.766809
C       NaN       NaN       NaN  1.150425
D       NaN  0.606967       NaN  0.193114
E       NaN  2.262486  0.310163       NaN

In [17]:
df[df['W']>0]

          W         X         Y         Z       new
A  1.546251  1.070069 -0.197420 -1.965812  1.348831
C  1.248025 -0.698435 -0.598607  0.767113  0.649418
D  1.516847 -0.447819  0.676152  0.217583  2.192999
E  0.510390  1.108694 -1.056952 -0.220323 -0.546562

In [21]:
df[df['W']>0]['Y']

A   -0.197420
C   -0.598607
D    0.676152
E   -1.056952
Name: Y, dtype: float64

In [22]:
df[df['W']>0][['Y','X']]

          Y         X
A -0.197420  1.070069
C -0.598607 -0.698435
D  0.676152 -0.447819
E -1.056952  1.108694

For two conditions you can use | and & with parenthesis:

In [58]:
df[(df['W']>0) | (df['Y'] > 1)]

KeyError: 'W'

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [33]:
df

          W         X         Y         Z       new States
A  1.546251  1.070069 -0.197420 -1.965812  1.348831     CA
B -2.087840  0.838798 -1.360193 -0.938515 -3.448034     NY
C  1.248025 -0.698435 -0.598607  0.767113  0.649418     WY
D  1.516847 -0.447819  0.676152  0.217583  2.192999     OR
E  0.510390  1.108694 -1.056952 -0.220323 -0.546562     CO

In [34]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z       new States
0     A  1.546251  1.070069 -0.197420 -1.965812  1.348831     CA
1     B -2.087840  0.838798 -1.360193 -0.938515 -3.448034     NY
2     C  1.248025 -0.698435 -0.598607  0.767113  0.649418     WY
3     D  1.516847 -0.447819  0.676152  0.217583  2.192999     OR
4     E  0.510390  1.108694 -1.056952 -0.220323 -0.546562     CO

In [29]:
newind = 'CA NY WY OR CO'.split()

In [35]:
df['States'] = newind

In [36]:
df

          W         X         Y         Z       new States
A  1.546251  1.070069 -0.197420 -1.965812  1.348831     CA
B -2.087840  0.838798 -1.360193 -0.938515 -3.448034     NY
C  1.248025 -0.698435 -0.598607  0.767113  0.649418     WY
D  1.516847 -0.447819  0.676152  0.217583  2.192999     OR
E  0.510390  1.108694 -1.056952 -0.220323 -0.546562     CO

In [40]:
df.set_index('new')

                  W         X         Y         Z States
new
 1.348831  1.546251  1.070069 -0.197420 -1.965812     CA
-3.448034 -2.087840  0.838798 -1.360193 -0.938515     NY
 0.649418  1.248025 -0.698435 -0.598607  0.767113     WY
 2.192999  1.516847 -0.447819  0.676152  0.217583     OR
-0.546562  0.510390  1.108694 -1.056952 -0.220323     CO

In [57]:
df

                  A         B         C
G1 G1 1 1  1.658186 -0.713687 -0.316780
      2 2 -0.502550 -0.070775  0.028578
      3 3 -1.501034 -1.425328 -1.051964
G2 G1 1 1 -0.861072 -0.880973 -0.177644
   G2 2 2  0.885601  0.222118  0.175467
      3 3 -0.299864 -0.326014  0.687051

In [56]:
df.set_index('States',inplace=True)

KeyError: "None of ['States'] are in the columns"

In [103]:
df = pd.DataFrame(np.random.randint([[1], [1], [1], [1], [1], [1]], [10, 10, 10, 10]))
df

   0  1  2  3
0  1  6  6  2
1  3  4  3  8
2  5  1  9  5
3  4  9  4  4
4  8  9  7  9
5  8  6  5  8

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [123]:
# Index Levels
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
outside = ['G1','G1','G1','G2','G2']
inside = [1,2,3,1,2]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
df

          W         X         Y         Z
A  0.705964 -1.241675 -0.641928 -0.435302
B  1.294884 -0.893003 -0.198148  0.801919
C -1.952999  1.348244 -0.842342  0.373357
D  0.218078  0.227616  0.947554  0.095012
E -0.534695  1.825057  0.567006 -1.643893

In [124]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2)],
           )

In [126]:
df = pd.DataFrame(df.values,index=hier_index)
df

             0         1         2         3
G1 1  0.705964 -1.241675 -0.641928 -0.435302
   2  1.294884 -0.893003 -0.198148  0.801919
   3 -1.952999  1.348244 -0.842342  0.373357
G2 1  0.218078  0.227616  0.947554  0.095012
   2 -0.534695  1.825057  0.567006 -1.643893

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [128]:
df.loc["G1"]

          0         1         2         3
1  0.705964 -1.241675 -0.641928 -0.435302
2  1.294884 -0.893003 -0.198148  0.801919
3 -1.952999  1.348244 -0.842342  0.373357

In [129]:
df.loc['G1'].loc[1]

0    0.705964
1   -1.241675
2   -0.641928
3   -0.435302
Name: 1, dtype: float64

In [130]:
df.index.names

FrozenList([None, None])

In [131]:
df.index.names = ['Group','Num']

In [132]:
df

                  0         1         2         3
Group Num
G1    1    0.705964 -1.241675 -0.641928 -0.435302
      2    1.294884 -0.893003 -0.198148  0.801919
      3   -1.952999  1.348244 -0.842342  0.373357
G2    1    0.218078  0.227616  0.947554  0.095012
      2   -0.534695  1.825057  0.567006 -1.643893

In [138]:
df.xs("G1")

            0         1         2         3
Num
1    0.705964 -1.241675 -0.641928 -0.435302
2    1.294884 -0.893003 -0.198148  0.801919
3   -1.952999  1.348244 -0.842342  0.373357

In [153]:
df.xs('G1', level='Group')

            0         1         2         3
Num
1    0.705964 -1.241675 -0.641928 -0.435302
2    1.294884 -0.893003 -0.198148  0.801919
3   -1.952999  1.348244 -0.842342  0.373357

In [150]:
df.xs(2,level='Num')

              0         1         2         3
Group
G1     1.294884 -0.893003 -0.198148  0.801919
G2    -0.534695  1.825057  0.567006 -1.643893

# Great Job!